<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Изменение данных о читателе</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none fs-3">
            Каталог
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="/people">Список читателей</a></li>
            <li class="nav-item"><a class="nav-link" href="/books">Список книг</a></li>
            <li class="nav-item"><a class="nav-link" href="/books/search">Поиск книг по названию</a></li>
        </ul>
    </header>
</div>

<div class="container">
    <div class="col-lg-6 mx-auto">
        <form th:action="@{/people/{id}(id = ${person.getId()})}"
              th:method="PUT"
              th:object="${person}">
            <div class="mb-3">
                <label class="form-label" for="name">Введите ФИО: </label>
                <input class="form-control" id="name" th:field="*{name}" type="text">
                <div class="form-text text-danger"
                     th:errors="*{name}"
                     th:if="${#fields.hasErrors('name')}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="year">Введите год рождения: </label>
                <input class="form-control" id="year" th:field="*{year}" type="text">
                <div class="form-text text-danger"
                     th:errors="*{year}"
                     th:if="${#fields.hasErrors('year')}"></div>
            </div>
            <input class="btn btn-primary" type="submit" value="Редактировать">
        </form>
    </div>
</div>
</body>
</html>