<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление читателя</title>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none fs-3">
            Каталог
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/people" class="nav-link">Список читателей</a></li>
            <li class="nav-item"><a href="/books" class="nav-link">Список книг</a></li>
            <li class="nav-item"><a href="/books/search" class="nav-link">Поиск книг по названию</a></li>
        </ul>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form method="POST" th:action="@{/people/new}" th:object="${person}">
                <div class="mb-3">
                    <label for="name" class="form-label">Введите ФИО: </label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <div class="form-text text-danger"
                         th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Введите год рождения: </label>
                    <input type="text" class="form-control" id="year" th:field="*{year}">
                    <div class="form-text text-danger"
                         th:if="${#fields.hasErrors('year')}"
                         th:errors="*{year}"></div>
                </div>
                <input type="submit"  class="btn btn-primary" value="Добавить">
            </form>
        </div>
    </div>
</div>
</body>
</html>